{% load static %}
<html>
  <head>
    <title>PRIVACY.PRIVACY.PRIVACY</title>
    <link rel="stylesheet" type="text/css" href="{% static 'secret_messaging/style.css' %}">
  </head>
  <body>
      <div class="sidebar">
        <a class="active" href="/hide_secret/"><span>Create secret</span></a>
        <a href="/reveal_secret/"><span>Reveal secret</span></a>
      </div>
      <form action="{% url 'secret_string' %}" method="post">
      <div class="centered-content">
        <div class="grid-container">
            {% csrf_token %}
            <label for="id_message">message:</label> 
            {{ form.message }} 
            {% comment %} <input class="form-input" type="text" name="message" maxlength="200" required="" id="id_message" data-twofas-input-listener="true" data-twofas-element-number="0" />  {% endcomment %}
            <label for="id_secret">secret:</label> 
            {{ form.secret }}
            {% comment %} <input class="form-input" type="text" name="secret" maxlength="200" required="" id="id_secret" data-twofas-input-listener="true" data-twofas-element-number="1" />  {% endcomment %}
            <input class="button-submit" type="submit" value="Go!" data-twofas-element-number="2" />                 
        </div>
      </div>
    </form> 
  </body>
</html>