{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>PRIVACY.PRIVACY.PRIVACY</title>
    <link rel="stylesheet" type="text/css" href="{% static 'secret_messaging/style.css' %}">
</head>
<body>
    <div class="main-parent">
        <div class="main">
            <form action="{% url 'secret_string' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}  
                <input class = "button-link" type="submit" value="Submit">
            </form> 
        </div>
    </div>

</body>
</html>