{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>PRIVACY.PRIVACY.PRIVACY</title>
    <link rel="stylesheet" type="text/css" href="{% static 'secret_messaging/style.css' %}">
</head>
<body>
    <div class="sidebar">
        <a class="active" href="{% url 'secret_string' %}">Create secret</a>
        <a href="{% url 'reveal_secret' %}">Reveal secret</a>
    </div>
    <div class="content">
        <form action="{% url 'secret_string' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}  
            <input class = "button-link" type="submit" value="Submit">
        </form> 
    </div>

</body>
</html>