{% load static %}
<html>
  <head>
    <title>PRIVACY.PRIVACY.PRIVACY</title>
    <link rel="stylesheet" type="text/css" href="{% static 'secret_messaging/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="sidebar">
      <a href="{% url 'secret_string' %}"><span>Create secret</span></a>
      <a class="active" href="{% url 'reveal_secret' %}"><span>Reveal secret</span></a>
    </div>
    <div class="centered-content" id="id_request">
      <div class="grid-container">
          <label for="id_secret">secret:</label> 
          <input type="text" name="secret" class="form-input" required="" id="id_secret">
          <input class="button-submit" type="submit" value="Go!" onclick="reveal_secret_button_pressed()"/> 
      </div>
    </div>
    <div class="centered-content" id="id_result" style="display:none;">
      <div class="grid-container">
          <label for="id_secret_string">result:</label> 
          <input type = "text" class="form-input" id="id_secret_string" readonly> 
          <input class="button-submit" type="submit" value="Back!" onclick="go_back()"/> 
      </div>
    </div>

    <script src="{% static 'secret_messaging/external/SecretMessagingBackEnd.js' %}"></script>
    <script src="{% static 'secret_messaging/string-process.js' %}"></script>
  </body>
</html>