{% load static %}
<html>
  <head>
    <title>PRIVACY.PRIVACY.PRIVACY</title>
    <link rel="stylesheet" type="text/css" href="{% static 'secret_messaging/style.css' %}">
  </head>
  <body>
      <div class="sidebar">
        <a href="{% url 'secret_string' %}"><span>Create secret</span></a>
        <a class="active" href="{% url 'reveal_secret' %}"><span>Reveal secret</span></a>
      </div>
      <form action="{% url 'reveal_secret' %}" method="post">
      <div class="centered-content">
        <div class="grid-container">
            {% csrf_token %}
            <label for="id_secret_string">Secret string:</label> 
            {{ form.secret_string }} 
            <input class="button-submit" type="submit" value="Go!" data-twofas-element-number="2" />
        </div>
      </div>
    </form> 
  </body>
</html>