body {
    background-color: lightblue;
}

.main-parent{
    display: grid;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    height: 100vh; /* Full height */ 
    font-size: 24px;
    font-family: Arial, sans-serif;
}

.main {
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    font-size: 24px;
    text-decoration: none;
    border-radius: 5px
}

.button-link:hover {
    background-color: #0056b3;
}

.container {
    display: flex;
    justify-content: space-between; /* Puts space between the buttons */
}