body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 0;
  padding: 0;
  background-color: #f4f1f1;
}

.sidebar {
  font-size: 20;
  background-color: #dbdbdb;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top:0;
  width: 10%;
  height: 100%;
  vertical-align: top; /* Add this line */
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 10px;
  gap: 10px;
}

.grid-container label {
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: end;
  align-self: center;
  padding: 0;
}

.grid-container .form-input {
  font-size: 20;
  height: 40;
  grid-column-start: 2;
  grid-column-end: 4;
}

.grid-container .button-submit {
  font-size: 20;
  height: 40;
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
}

.grid-container .button-submit:hover {
  background-color: #555; /* Green */
  transition: 0.3s;
}

.centered-content {
  display: inline-flex;
  font-size: 20;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  justify-content: center; /* Aligns items horizontally in the center */
  align-items: center; /* Aligns items vertically in the center */
}

  .sidebar a {
  display: block;
  color: black;
  background-color: #bcbcbc;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

@media screen and (max-width: 1000px) {
  .sidebar {
    display: flex;
    width: 100%;
    height: 20%;
  }

  .sidebar a {
    flex: 1;
    display: inline;
    display: flex; /* Add this line */
    align-items: center; /* Add this line */
  }

  .sidebar a span {
      text-align: center;
  }

  content {
    display: block;
    margin-left: 0;
    width: 80%;
  }
}

/*  @media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}*/